@font-face {
    font-family:'monocraft';
    font-display:swap;
    src:url(/assets/fonts/monocraft.woff2);
}


h1 {
    font-family:monocraft,monospace
}

x {
    font-family:monocraft,monospace
}

a {
    font-family:monocraft,monospace
}

p {
    font-family:monocraft,monospace
}

body {
    background-color:#111112;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    margin:0;
    padding:0;
    height:100vh
}



#background {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    transition:opacity .5s ease-in-out;
    z-index:-1
}

.container {
    position:relative;
    z-index:1;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height:100vh
}

.site-name {
    font-size:75px;
    text-shadow:5px 5px 5px #000,5px 5px 5px #000;
    color:#96613d;
    margin-bottom:10px;
    padding-top:20px;
    user-select:none
}

.box {
    background-color:#725430;
    background-image:url(/assets/images/spruce_sign.webp);
    box-shadow:0 0 20px 5px rgba(0,0,0,0.8);
    padding:20px;
    border-radius:5px;
    text-align:center;
    margin-bottom:10px
}
.box img {
    width: 200px;
    margin-bottom: -1px;
    margin-top: 5px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 80%, transparent 100%);
    -webkit-filter: drop-shadow(2px 2px 2px #000);
    filter: drop-shadow(2px 2px 2px #000);
}
@media screen and (max-width: 400px) {
    .box img {
        width: 50vw;
    }
}
.box p {
    text-shadow:1px 1px 10px #000,1px 1px 10px #000;
    font-size:26px;
    color:#fff;
    margin:0
}

.parent {
    display:flex;
    justify-content:center;
    user-select:none
}

.button {
    cursor:pointer;
    background-color:#c0af79;
    background-image:url(/assets/images/birch_sign.webp);
    flex:1;
    justify-content:center;
    box-shadow:0 0 10px #00000080;
    padding:10px;
    border-radius:5px;
    transition:all .2s ease-in-out;
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    box-sizing:border-box;
    user-select:none
}

.button a {
    display:flex;
    color:#FA0;
    flex-direction:column;
    align-items:center;
    text-align:center;
    text-decoration:none;
    text-shadow:1px 1px 10px #000,1px 1px 10px #000;
    user-select:none
}

.button img {
    width:50px;
    height:50px;
    margin-bottom:10px;
    user-select:none
}

.button:hover {
    color:#ffff;
    box-shadow:0 5px 15px #915cb666;
    user-select:none
}

.button:active {
    background-color:#3e8e41;
    box-shadow:0 5px #666;
    transform:translateY(4px);
    user-select:none
}

@media screen and (max-width: 768px) {
    .parent {
        flex-direction:column;
        align-items:center;
        padding-bottom: 15px; /* Add padding to the bottom */
        border-bottom: 2px dashed black;
    }

    .button {
        width:calc(100% - 20px)
    }

    .box {
        width:100vw;
        padding:20px 0;
        border-radius:5px;
        text-align:center;
        margin-bottom:0
    }
}

@media screen and (max-width: 370px) {
    .site-name {
        font-size:20vw
    }
}

.smalltext p {
    padding-left:10px;
    padding-right:10px;
    font-size:12px
}

#snackbar {
    font-family: monocraft, monospace;
    background-image: url(/assets/images/spruce_sign.webp);
    visibility: hidden;
    min-width: 250px;
    background-color: #725430;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 0 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 1vh;
    transform: translateX(-50%);
    box-shadow:0 0 20px 5px #000;
    text-shadow:1px 1px 10px #000,1px 1px 10px #000;
}


#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 1vh; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 1vh; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 1vh; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 1vh; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}